<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>Canvas Paint</title>
<style type="text/css">
	#container { position: relative; }
	#imageView { border: 1px solid #000; }
</style>
</head>

<script type="text/javascript">
	function handleIt() {
		var dataURL = document.getElementById('imageView').toDataURL("image/png");
		document.getElementById('id_draw_image').value = dataURL;
	}
</script>

<body>
<!--<p>Hold down the mouse button to draw in the rectangle below.</p>-->
<div id="container">
<canvas id="imageView" width="88" height="88">
<p>Unfortunately, your browser is currently unsupported by our web application. We are sorry for the inconvenience. Please use one of the supported browsers listed below, or draw the image you want using an offline tool.</p>
<p>Supported browsers: 
<a href="http://www.opera.com">Opera</a>, 
<a href="http://www.mozilla.com">Firefox</a>, 
<a href="http://www.apple.com/safari">Safari</a>, and 
<a href="http://www.konqueror.org">Konqueror</a>.
</p>
</canvas>
<form action="javascript:handleIt()">
    <input id="hidden_img" type="hidden">
    <input type="submit" value="Submit">
</form>

<form action="/draw/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<table>
  <tr>
    <th>Label</th>
    <th>Weight</th> 
  </tr>
{% for o in y_list %}
  <tr>
    <td>label</td>
    <td>{{ o }}</td> 
  </tr>
{% endfor %}
</table>

</div>
<script type="text/javascript" src="{% static "draw/example-2.js" %}"></script>
</body>
</html>